.Div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.Label {
	min-width: 12rem;
}

.InnerDiv {
	display: flex;
	flex-wrap: nowrap;
}

.Button {
	width: 2rem;
}

.Input {
	width: 3rem;
}
