.Div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	max-width: 100%;
}

.Label {
}

.InnerDiv {
	display: flex;
	flex-wrap: nowrap;
	flex-flow: column;
	align-items: center;
}

.Radio {
}

@media (min-width: 420px) {
	.Div {
		max-width: 30rem;
	}
}
