.Div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
}

.Label {
}

.InnerDiv {
	display: flex;
	flex-wrap: nowrap;
	flex-flow: column;
	align-items: center;
}

.Radio {
}
